/*Palette*/
:root {
	--mainbg: #424250;
	--internalbg: #33333d;
	--textColor: #fff;
}

/*reset styles*/
div,
a,
section,
main,
header,
footer,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #fff;
	background-color: var(--mainbg);
}
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}
html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}
button {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
	text-transform: none;
	line-height: normal;
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}
* {
	text-align: center;
}
